/*Overrides*/
.pure-u-1-2 {
    width: 49.99%;
}
h2 {
	font-size:1.7em;
}
h3 {
	font-size:1.3em;
	margin:1.2em 0 0.4em;
}
.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {
    color: #333333;
}
.pure-menu a img {
    width:24px;
}
.pure-g, .pure-g-r {
  font-family:'Ubuntu', Arial; /*Posible correción de Bug*/
}
/*AWAr*/
html, body, #main {
    height:100%;
    background:#FCFCFC;
}
.section {
    min-height:90%;
    max-width:967px;
    font-size:110%;
    line-height:1.5em;
}
.section p {
    letter-spacing:1px;
}
body {
	color:#222;
	font-family:'Ubuntu', Arial;
}
.flag {
	margin-top:2.15em;
	padding: 3.4em 0;
	background:lightblue;
	position:relative;
}
.flag-title {
	background:white url('../images/sol-argentino-48-0.65.png') top center no-repeat;
	background:white url('../images/sol-argentino-0.65.png') center center / 50px 50px no-repeat;
	margin:0;
	font-size:3em;
	text-align:center;
}
.flag-sun {
	position:absolute;
	left:50%;
	opacity:1;
}
.box {
    padding: 1em;
}
.l-box {
    padding: 0 1em;
}
.box-analogia p {
    margin:0;
}
.content .content-ribbon {
	padding-top:2.5em;
    border-bottom: 1px solid #BBB;
    margin: 3em auto;
}

/*.content-subhead {
	margin:0;
}*/
.image {
	display: block;
	margin: auto;
}
summary {
	cursor:pointer;
	border:1px solid transparent;
	border-top:0;
	border-left:0;
}
summary:hover {
	border:1px solid black;
	border-top:0;
	border-left:0;
}
#sujetos-alcanzados {
	list-style: url('../images/arrow.png') outside;
}
#sujetos-alcanzados ul {
	list-style: circle none;
}
.details-unsupported  summary{
	list-style-type:none;
	cursor:default;
}
#sujetos-alcanzados.details-supported {
	list-style:none none;
}
.anti-patterns .contra-ejemplo {
    text-align:center;
}
.anti-patterns img {
    max-width:90%;
    display:block;
    margin:0 auto .5em;
}