/*Overrides*/
.pure-u-1-2 {
    width: 49.99%;
}
/*AWAr*/
body {
	color:#222;
	font-family:'Ubuntu', Arial;
}
.flag {
	margin-top:2.15em;
	padding: 3em 0;
	background:lightblue;
	position:relative;
}
.flag-title {
	background:white url('../images/sol.png') top center no-repeat;
	margin:0;
	font-size:2.6em;
	text-align:center;
}
.flag-sun {
	position:absolute;
	left:50%;
	opacity:1;
}
.box {
    padding: 1em;
}
.l-box {
    padding: 0 1em;
}
.content .content-ribbon {
	padding-top:2.5em;
    border-bottom: 1px solid #EEEEEE;
    margin: 3em;
}
