/*Overrides*/
.pure-u-1-2 {
    width: 49.99%;
}
h2 {
	font-size:1.7em;
}
h3 {
	font-size:1.3em;
	margin:1.2em 0 0.4em;
}
.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {
    color: #333333;
}
.pure-menu a img {
    width:24px;
}
.pure-g, .pure-g-r {
  font-family:'Ubuntu', Arial; /*Posible correción de Bug*/
}
/*AWAr*/
html, body, #main {
    height:100%;
    background:#FCFCFC;
}
.section {
    min-height:90%;
    max-width:967px;
    font-size:110%;
    line-height:1.5em;
}
.section p {
    letter-spacing:1px;
}
body {
	color:#222;
	font-family:'Ubuntu', Arial;
}
.flag {
	margin-top:1.15em;
	padding: 3.4em 0;
	background:lightblue;
	position:relative;
}
.flag-title {
	background:white url('../images/sol-argentino-48-0.45.png') top center no-repeat;
	background:white url('../images/sol-argentino-0.45.png') center center / 50px 50px no-repeat;
	margin:0;
	font-size:3em;
	text-align:center;
}
.flag-sun {
	position:absolute;
	left:50%;
	opacity:1;
}
.box {
    padding: 1em;
}
.l-box {
    padding: 0 1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.box-analogia p {
    margin:0;
}
.content .content-ribbon {
	padding-top:2.5em;
    border-bottom: 1px solid #BBB;
    margin: 0 auto 3em;
}
/*.content-subhead {
	margin:0;
}*/
.image {
	display: block;
	margin: auto;
}
summary {
	cursor:pointer;
	border:1px solid transparent;
	border-top:0;
	border-left:0;
}
summary:hover {
	border:1px solid black;
	border-top:0;
	border-left:0;
}
#sujetos-alcanzados {
	list-style: url('../images/arrow.png') outside;
}
#sujetos-alcanzados ul {
	list-style: circle none;
}
.details-unsupported  summary{
	list-style-type:none;
	cursor:default;
}
#sujetos-alcanzados.details-supported {
	list-style:none none;
}
.anti-patterns .contra-ejemplo {
    text-align:center;
	float:left;
}
.anti-patterns img {
    max-width:90%;
    display:block;
    margin:0 auto .5em;
	border:1px solid black;
}
hr {
    margin: 0.8em 0 1.7em;
}
.fluid-video {
    display:block;
    margin:auto;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*Responsive Menu*/
.ie .pure-menu{
    min-width:1100px;
}
.modern-browser .pure-menu-fixed {
    position: static;
}
.modern-browser .pure-menu li, 
.modern-browser .pure-menu.pure-menu-horizontal > .pure-menu-heading, 
.modern-browser .pure-menu.pure-menu-horizontal > ul  {
    display:block;
}
.modern-browser .pure-menu.pure-menu-horizontal > ul {
    height:auto;
}
.modern-browser .flag {
	margin-top:0;
}
@media (min-width:600px) { 
    .modern-browser .pure-menu-fixed {
        position: fixed;
    }
    .modern-browser .pure-menu li, 
    .modern-browser .pure-menu.pure-menu-horizontal > .pure-menu-heading  {
        display: inline-block;
    }
    .modern-browser .pure-menu.pure-menu-horizontal > ul {
        display:inline;
    }
    .modern-browser .flag {
        margin-top:3.45em;
    }
}
@media (min-width:1080px) { 
    .modern-browser .pure-menu.pure-menu-horizontal > ul {
        height:2.4em;
    }
    .modern-browser .flag {
        margin-top:1.15em;
    }
}